.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.guess-card {
  display: flex;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  gap: 20px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
